@import "../main.css";

.forecast-config-column {
  /* border: 2px solid var(--rnhealthLightPlum); */
  margin-right: 10px;
}

.forecast-display-column {
  /* border: 2px solid var(--rnhealthGrapePurple); */
  height: 330px;
}

.spacer{
    width: 10px;
}

form{
    margin-top: 20px;
}
label{
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

checkbox{
    width: 20px;
}

button{
    margin-top: 10px;
}

.checkbox{
    margin-left: 4px;
    width: 30px ;
    height: 20px;
}
